body {
  background-image: url(resources/bg.png);
  background-repeat: repeat;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.content {
  background-color: rgb(138,116,102);
  border-radius: 20px;

  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
a {
  color: white;
  cursor: pointer;
}