body {
  background-image: url(resources/bg.png);
  background-repeat: repeat;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
a {
  color: white;
  cursor: pointer;
}